.pokemon__title{
  text-align: center;
}

.pokemon__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.pokemon__card{
  place-self: center;
  padding: 5px;
  border: 2px solid blueviolet;
  border-radius: 5%;
  text-transform: capitalize;
  position: relative;
}
.card__title{
  text-align: center;
  background-color: blueviolet;
  color: whitesmoke;
}
.card__list{
  display: flex;
  justify-content: space-around;
  &-item{
    font-size: 12px;
    border: 1px solid rebeccapurple;
    background-color: rebeccapurple;
    color: whitesmoke;
    border-radius: 5px; 
  }
}